html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family:
    'Inter', 'Inter Tight', 'Roboto', system-ui, Helvetica, Arial, sans-serif;

  --primary-background-color: #ffffff;
  --secondary-background-color: #ffe8e5;
  --primary-text-color: #0f0f0f;
  --secondary-text-color: #ae838e;
  --primary-accent-color: #eabfb9;

  --sub-text-size: 0.75em;
  --main-text-size: 1em;
  --sub-header-text-size: 1.5em;
  --header-text-size: 2em;

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 200px;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100dvw;
}

#root {
  margin: 0 0;
  max-width: 100dvw;
  width: 100%;
  box-sizing: border-box;
  height: 100dvh;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

button {
  border: none;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  cursor: pointer;
  padding: 0 0 0 0;
}

.page {
  width: 100%;
  max-width: 100dvw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 10px;
}

.section {
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    display: flex;
}

.header {
    width: 90%;
    max-width: 1024px;
    display: flex;
    margin: 10px 10px;
    padding: 10px 40px;
    max-height: 64px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: solid 1px rgb(197, 197, 197);
    box-shadow: 0px 0px 2px 2px rgba(194, 194, 194, 0.1);
    position: sticky;
}

.logo {
    font-weight: 600;
    font-size: 1.7rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.5rem, 2.5vw, 4rem);
}

.nav-link {
    font-weight: 500;
    transition: background-color 0.2s;
    border-radius: 12px;
    padding: 4px 10px;
}

.nav-link:hover {
    background-color: #ff9ce9;
}

.section-one {
    margin-top: 20px;
}

.section-one-left {
    flex: 1;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.section-one-right {
    flex: 1;
}

.content-header {
    font-size: 1.8em;
    font-weight: 550;
    padding-top: 30px;
}

.content-description {
    margin-top: 10px;
    color: rgb(39, 39, 39);
    line-height: 1.8rem;
    font-size: 1.1rem;
    text-wrap: wrap;
}

.section-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 20px;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.title {
    margin-top: 20px;
    font-size: 2.3em;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 702px;
    margin-bottom: 10px;
}

.subtitle {
    width: 100%;
    max-width: 702px;
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(26, 26, 26);
    line-height: 1.4;
    text-align: center;
}

.section-one-image {
    border-radius: 16px;
    max-width: 500px;
    width: 500px;
    flex: 1;
}

.button-container {
    display: flex;
    gap: 48px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    width: 100%;
}

.button-highlighted {
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 8px 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 8px;
    border: solid 2px rgb(49, 49, 49);
    color: rgb(32, 32, 32);
    padding: 6px 16px;
    margin: 2px 0px;
    font-weight: 600;
}
